        <link rel="stylesheet" href="/css/resposta.css">
        <div class="resposta">
                <p class="campos">CEP: {{cep}}</p>
                <p class="campos">Endereço: {{endereco}}</p>
                <p class="campos">Bairro: {{bairro}}</p>
                <p class="campos">Cidade: {{cidade}}</p>
                <p class="campos">Estado: {{estado}}</p>
        </div>
               
          
        